.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0;
    max-width: 100%;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        135deg,
        #f3f1e8 0%,
        #e8e1cc 15%,
        #e1d7d2 30%,
        #f8e3c4 45%,
        #e8e6ea 60%,
        #dad5d8 75%,
        #f3f1e8 100%
    );
    background-size: 400% 400%;
    animation: gradientShift 20s ease infinite;
    mask: radial-gradient(circle at center, black 30%, transparent 80%);
    -webkit-mask: radial-gradient(circle at center, black 30%, transparent 80%);
    z-index: -1;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.profile-box img {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 8rem;
    height: 8rem;
}

[data-theme='dark'] {
    .container::before {
        display: none; /* Removes gradient in dark mode */
    }

    .profile-box img {
        filter: brightness(1.5);
    }
}

.profile-box h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.profile-box p {
    font-weight: 400;
    color: var(--global-primary-hover);
    font-style: italic;
    margin-bottom: 3rem;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.data-number {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

.data-text {
    font-size: 0.8rem;
    font-weight: 400;
}

/* Borrowed Books */

.borrowed-books {
    width: 100%;
    padding: 0 4rem;
    text-align: left;
}

@media screen and (max-width: 500px) {
    .borrowed-books {
        padding: 0 3rem;
    }
}

.empty-state {
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
}

.empty-icon {
    width: 120px;
    margin-bottom: 16px;
}

.empty-state h4 {
    color: var(--text-color);
    margin-bottom: 8px;
}

.empty-state p {
    color: var(--muted-color);
    margin-bottom: 24px;
}

.book-table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.book-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 0;
}

.book-table th,
.book-table td {
    padding: 15px;
    text-align: left;
}

.book-table th {
    background-color: var(--global-contrast-inverse);
    font-weight: 600;
    border-bottom: 1px solid #dee2e6;
}

.book-table td {
    border-bottom: 1px solid #dee2e6;
    background-color: var(--global-contrast-inverse);
}

.book-table td:hover {
    background-color: var(--global-primary-background);
}

td.title {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.book-table tr:hover td {
    background-color: #f0f0f0;
}

[data-theme='dark'] .book-table tr:hover td {
    background-color: #333;
}

.book-table .action-button {
    background: none;
    border: none;
    font-size: 0.8rem;
    color: var(--global-primary);
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

.book-table .action-button:hover {
    color: var(--global-primary-hover);
}

.book-table tr:last-child td {
    border-bottom: none;
}

.book-cover {
    width: 40px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 0.3rem;
}

.genre-tag {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
}

.days-left {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--global-primary);
    font-style: italic;
}

.due-date .returned {
    color: var(--global-primary);
    font-style: italic;
}

.action {
    white-space: nowrap;
}

.action .action-button {
    text-decoration: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.action .action-button:hover {
    color: var(--global-primary-hover);
}

.due-date .reviewed {
    cursor: not-allowed;
}

.mystery {
    background-color: #fff3cd;
    color: #856404;
}

.fiction {
    background-color: #d4edda;
    color: #155724;
}

.biographic {
    background-color: #e2e3ff;
    color: #3d3d8f;
}

.romance {
    background-color: #f8d7da;
    color: #721c24;
}

.classic {
    background-color: #cce5ff;
    color: #004085;
}

.action {
    background-color: #d6d8d9;
    color: #383d41;
}

.fantasy {
    background-color: #d1ecf1;
    color: #0c5460;
}

.thriller {
    background-color: #f8d7da;
    color: #721c24;
}

.dystopian {
    background-color: #f8e7d7;
    color: #723d1c;
}

.horror {
    background-color: #edd9c7;
    color: #420c12;
}

@media screen and (max-width: 1300px) {
    .author {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .genre {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .genre,
    .author,
    .due-date {
        display: none;
    }

    .action td {
        text-align: right;
    }

    .action .action-button {
        margin-right: 0.2rem;
    }
}

[data-theme='dark'] {
    .genre-tag,
    .action-button {
        filter: invert(1);
    }
}
