nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

nav ul a {
    text-decoration: none;
    color: var(--global-primary-hover);
    display: block;
    width: 100%;
}

nav .sign-in {
    font-weight: 500;
}

nav .logo {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--global-primary-hover);
}

nav ul li {
    width: 100%;
    border-radius: 4px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

nav ul a:hover li {
    background-color: var(--global-tab-hover-background);
}

nav ul a.active li {
    background-color: var(--global-tab-active-background);
}

nav img {
    margin-right: 0.8rem;
}

nav .sign-in {
    width: 100%;
    padding: 0.6rem;
    color: var(--global-primary-hover);
    border-radius: 4px;
}

nav .sign-in:hover {
    background-color: var(--global-tab-hover-background);
}

nav .profile {
    display: flex;
    padding: 0;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

nav .profile-left {
    display: flex;
}

nav .profile .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
}

nav .profile span {
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    font-size: 0.8rem;
}

nav .profile-left img {
    margin-right: 0.4rem;
}

nav .logout img {
    margin-right: 0rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

nav a:hover {
    text-decoration: none;
}

nav .profile .email {
    font-size: 0.6rem;
    font-weight: 300;
}

nav .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

nav .logout:hover img {
    background-color: var(--global-tab-hover-background);
}
