nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    width: 100%;
    gap: 1rem;
}

nav ul a {
    text-decoration: none;
    color: var(--global-primary-hover);
    display: block;
    width: 100%;
}

/* first li items in the list */

nav .logo {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--global-primary-hover);
}

nav ul li {
    width: 100%;
    border-radius: 4px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

nav ul a:hover li {
    background-color: var(--global-tab-hover-background);
}

nav ul a.active li {
    background-color: var(--global-tab-active-background);
}

nav img {
    margin-right: 0.8rem;
}

nav .sign-in {
    width: 100%;
    padding: 0.6rem;
    color: var(--global-primary-hover);
    border-radius: 4px;
}

nav .sign-in:hover {
    background-color: var(--global-tab-hover-background);
}
