.main-container {
    width: 100%;
    padding: 50px;
    min-height: 100vh;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        135deg,
        #f3f1e8 0%,
        #e8e1cc 15%,
        #e1d7d2 30%,
        #f8e3c4 45%,
        #e8e6ea 60%,
        #dad5d8 75%,
        #f3f1e8 100%
    );
    opacity: 0.7;
    background-size: 400% 400%;
    animation: gradientShift 20s ease infinite;
    mask: radial-gradient(circle at center, black 30%, transparent 80%);
    -webkit-mask: radial-gradient(circle at center, black 30%, transparent 80%);
    z-index: -1;
}

[data-theme='dark'] {
    .main-container::before {
        display: none; /* Removes gradient in dark mode */
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page-title {
    margin-bottom: 2rem;
}

.search-container {
    margin-bottom: 2rem;
    width: 100%;
}

.search-bar {
    display: flex;
    gap: 0.5rem;
    flex: 1;
    height: 2.75rem;
    margin-bottom: 2rem;
}

.search-bar .input-group {
    display: flex;
    flex-grow: 1;
    border-radius: 12px;
    border: 2px solid var(--global-secondary-border);
    overflow: hidden;
}

.search-select {
    width: 12rem;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.search-input {
    flex-grow: 1;
    margin-bottom: 0 !important;
    border-radius: 0;
    border-left: 2px solid var(--global-secondary-border);
    max-height: 100%;
}

.search-button {
    border: none;
    cursor: default;
    width: 2rem;
    background-image: url('../assets/icons/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;

    /* Add minimum height to ensure button size */
    min-height: 2.5rem;
}

.content-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;
}

.filters {
    border-radius: 4px;
}

.filter-section {
    margin-bottom: 1rem;
}

.filter-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.filter-item span {
    font-size: 0.875rem;
}

.results-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.sort-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--global-primary);
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
    font-size: 0.875rem;
}

.sort-button .sort-icon {
    transition: transform 0.2s ease;
}

.sort-button[data-sort='asc'] .sort-icon {
    transform: rotate(180deg);
}

.sort-button[data-sort='desc'] .sort-icon {
    transform: rotate(0deg);
}

.sort-button[data-sort='none'] .sort-icon {
    opacity: 0.5;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
    grid-template-rows: auto auto auto;
}

.books-grid.no-results-grid {
    display: block;
    text-align: center;
    padding: 2rem;
}

.no-results {
    font-size: 1.1rem;
    color: #666;
}

.book-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    background-color: var(--global-contrast-inverse);
    border-radius: 12px;
    overflow: hidden;

    &:hover {
        transform: scale(1.02);
        transition: transform 0.3s;
        text-decoration: none;
    }
}

.book-cover {
    height: 100%;
    aspect-ratio: 2/3;
    background-color: var(--global-secondary-background);
}

.book-cover > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.book-title {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.3rem 1rem 0 1rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
}

.book-author {
    font-size: 0.7rem;
    color: var(--global-muted-color);
    margin: 0 1rem 1rem 1rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
}

[data-theme='dark'] {
    .book-card {
        background-color: var(--global-secondary-background);
        filter: brightness(0.9);
    }

    .book-title {
        filter: brightness(1.5);
    }

    .book-author {
        filter: brightness(1.3);
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pagination-button {
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--global-primary);
}

.pagination-text {
    font-size: 0.875rem;
}

@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
    }

    .books-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
